<% layout('./layouts/default') %>
<div class="container">
  <h1>Race Stats</h1>
<div class="row">
    <div class="span4">
      <div class="well well-plain">
        <% include ./snippets/overall-leaderboard %>
      </div>
    </div>
    <div class="span4">
      <div class="well well-plain">
        <% include ./snippets/ironman-leaderboard %>
      </div>
    </div>
    <div class="span4">
      <div class="well well-plain">
        <% include ./snippets/committed-leaderboard %>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="span12">
    <p>Race stats last updated: <%= statrefreshdate %>
  </div>
</div>