<h3>Ironman Leaderboard</h3>
<table class="table table-condensed">
  <thead>
    <tr>
      <th>#</th>
      <th>Member</th>
      <th>Mileage</th>
    </tr>
  </thead>
  <tbody>
    <% for(i=0;i<ironmanLeaderboard.length;i++) { %>
    <tr>
      <td><%= i+1 %></td>
      <td><%= ironmanLeaderboard[i]._id.username %></td>
      <td><%= parseFloat(ironmanLeaderboard[i].value).toFixed(2) %> mi</td>
    </tr>
  <% } %>
  </tbody>
</table>