<% if(errors.length > 0 || messages.length > 0) { %>
<div class="container">
  <% if(errors.length > 0) { %>
  <div class="alert alert-error">
    <strong>Oh snap!</strong>
    <ul class="unstyled">
    <% for(i=0;i<errors.length;i++) { %>
      <li><%= errors[i] %></li>
    <% } %>
    </ul>
  </div>
  <% } %>
  <% if(messages.length > 0) { %>
  <div class="alert alert-info">
    <strong>Heads up!</strong>
    <ul class="unstyled">
    <% for(i=0;i<messages.length;i++) { %>
      <li><%= messages[i] %></li>
    <% } %>
    </ul>
    <% if(typeof showShareButtons != 'undefined' && showShareButtons === true) { %>
    <p>Tell the world by sharing.</p>
    <div class="share-buttons">
      <span class='st_sharethis_large' displayText='ShareThis'></span>
      <span class='st_facebook_large' displayText='Facebook'></span>
      <span class='st_twitter_large' displayText='Tweet'></span>
      <span class='st_googleplus_large' displayText='Google +'></span>
      <span class='st_linkedin_large' displayText='LinkedIn'></span>
      <span class='st_wordpress_large' displayText='WordPress'></span>
      <span class='st_email_large' displayText='Email'></span>
    </div>
    <% } %>
   
  </div>
  <% } %>
</div>
<% } %>