<h3>Overall Leaderboard</h3>
<table class="table table-condensed">
  <thead>
    <tr>
      <th>#</th>
      <th>Team</th>
      <th>Mileage</th>
    </tr>
  </thead>
  <tbody>
  <% for(i=0;i<leaderboard.length;i++) { %>
    <tr>
      <td><%= i+1 %></td>
      <td><a href="/team/<%= leaderboard[i]._id.teamid %>">
        <%= leaderboard[i]._id.teamname %></a></td>
      <td><%= parseFloat(leaderboard[i].value).toFixed(2) %> mi</td>
    </tr>
  <% } %>
  </tbody>
</table>