<% script('http://maps.googleapis.com/maps/api/js?sensor=false') -%>
<% script('http://www.geocodezip.com/scripts/v3_epoly.js') -%>
<script>
var map, polyline;
var teams = <%- JSON.stringify(leaderboard) %>
var coordinates = [], pointsud = [];
var racePath = "zz51.511160000000004,-0.11978000000000001zz51.109230000000004,1.1788200000000002zz51.00786,2.32498zz51.03528000000001,3.63459zz50.880880000000005,4.4606900000000005zz50.68515000000001,5.64343zz50.83408000000001,6.352130000000001zz50.896420000000006,6.98697zz50.69932000000001,7.26118zz50.14707000000001,8.323870000000001zz49.754380000000005,9.78814zz49.758880000000005,10.57482zz49.466190000000005,11.21934zz48.99884,12.15633zz48.737170000000006,13.12221zz48.358670000000004,13.41422zz48.14531,14.861670000000002zz48.124500000000005,16.46012zz47.52944,18.50234zz47.371390000000005,19.09241zz47.69196,19.752170000000003zz47.79334,21.255390000000002zz48.233630000000005,22.06396zz48.484300000000005,22.80617zz48.89219000000001,23.24537zz49.34226,23.973370000000003zz49.54126,25.562630000000002zz49.396640000000005,27.14598zz49.21712,28.574500000000004zz48.81121,29.384500000000003zz48.71282,30.250460000000004zz48.37021000000001,30.441840000000003zz47.70877,31.269520000000004zz47.096500000000006,31.924680000000002zz46.6206,32.778290000000005zz46.84398,35.4012zz46.719530000000006,35.85495zz46.866200000000006,36.75965zz47.21197,38.766890000000004zz47.257740000000005,39.644960000000005zz46.76662,39.6623zz45.942780000000006,40.076570000000004zz45.64372,40.35126zz45.4134,40.247220000000006zz45.023540000000004,41.01357zz44.684760000000004,41.882220000000004zz44.086830000000006,43.112970000000004zz43.66176,43.4992zz43.3224,44.09995000000001zz43.019420000000004,44.22632zz42.434670000000004,44.03425zz42.32123000000001,43.9296zz42.02642,44.18341zz41.67522,44.82999zz41.230700000000006,44.848510000000005zz41.00208000000001,44.644830000000006zz40.81571,44.514500000000005zz40.53826,44.963910000000006zz40.08048,45.28002zz39.804770000000005,45.29955zz39.721160000000005,45.637420000000006zz39.4521,46.31181zz39.29722,46.38528zz39.140480000000004,46.18294zz38.656740000000006,46.22234zz38.33315,46.11695zz38.067890000000006,46.23311zz37.72039,45.92944000000001zz37.44859,45.921910000000004zz37.37013,46.204890000000006zz37.29527,46.33232zz37.34319,46.75784zz37.152170000000005,46.907250000000005zz37.12581,47.42797zz36.716660000000005,48.31246zz36.104330000000004,49.35181000000001zz36.275760000000005,49.93648zz35.79113,50.99555zz35.354690000000005,52.05053zz35.262330000000006,52.582570000000004zz35.44493,53.155820000000006zz36.253890000000006,54.621190000000006zz36.40983,55.76532zz36.302260000000004,57.0799zz36.10105,59.05198000000001zz35.998400000000004,59.66049zz35.243080000000006,60.61473zz34.70807,61.00489zz34.420700000000004,62.054480000000005zz34.355140000000006,63.128400000000006zz34.350480000000005,63.740660000000005zz34.338190000000004,64.37282zz34.177620000000005,64.59234000000001zz34.321020000000004,64.955zz34.54995,65.77221zz34.359770000000005,66.56702zz34.3845,67.38300000000001zz34.51532,69.11321000000001zz34.506440000000005,69.5956zz34.24447,70.87098zz34.01346,71.28444zz34.11178,71.89070000000001zz33.928720000000006,72.50969zz33.56329,72.89106000000001zz33.01419,72.64516zz32.666090000000004,72.74444000000001zz31.935850000000002,73.21209zz31.6092,74.30286000000001zz31.601440000000004,74.9419zz31.214150000000004,75.77135000000001zz30.026280000000003,76.88512zz28.952610000000004,77.75812zz28.813340000000004,78.70595zz28.40173,79.37150000000001zz27.52483,80.76365000000001zz27.57325,81.62632zz27.194840000000003,82.52705zz26.760970000000004,83.12549000000001zz26.738670000000003,83.91952zz26.199840000000002,85.30875zz26.32297,87.22468zz26.156100000000002,87.65678000000001zz26.34448,88.03942zz26.64516,88.37452zz26.486050000000002,89.45088000000001zz26.52757,90.46932000000001zz26.45558,91.4654zz26.1184,91.83080000000001zz26.22211,92.74081000000001zz25.961720000000003,93.48352000000001zz25.739,93.98505zz25.572570000000002,94.12162000000001zz25.32898,94.05456000000001zz24.88294,93.9086zz24.39582,94.09898000000001zz24.004700000000003,94.2185zz23.22596,94.15454000000001zz23.2359,94.74300000000001zz22.945020000000003,95.37063zz22.58932,95.69693000000001zz22.242520000000003,95.73218000000001zz21.927300000000002,95.94495zz21.183400000000002,95.81898000000001zz19.381500000000003,96.18208000000001zz18.831680000000002,96.41033zz17.836850000000002,96.4911zz17.4783,96.49831zz17.517310000000002,96.71690000000001zz17.310070000000003,97.04648zz17.203950000000003,97.23652000000001zz16.885460000000002,97.60994000000001zz16.80045,97.72235zz16.64423,98.26933000000001zz16.68873,98.33249zz16.723200000000002,98.58052zz16.77401,98.93643zz16.65634,99.31802zz16.08285,99.72797000000001zz15.014470000000001,100.34057000000001zz14.46305,100.54456zz14.286790000000002,101.04447zz13.908790000000002,101.95874zz13.464020000000001,103.68864zz12.753100000000002,104.90587000000001zz12.23033,105.30275zz11.81071,105.84354zz11.779810000000001,106.06207zz11.54729,106.16027000000001zz11.035590000000001,106.56415000000001zz10.8231,106.62967zz"
var infowindow = new google.maps.InfoWindow({
    size: new google.maps.Size(150, 50)
});

function initialize() {
    var center = new google.maps.LatLng(0, 0); //Map is centered at 0,0
    var myOptions = {
        scrollwheel: false,
        navigationControl: false,
        mapTypeControl: true,
        scaleControl: true,
        draggable: true,
        streetViewControl: false,
        zoom: 7,
        mapTypeId: google.maps.MapTypeId.ROADMAP,
        center: center
    }
    map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
    var points = racePath.split("zz");
        for (var i=1; i<(points.length-1); i++) {
          var mData = points[i].split(',');
          var point = new google.maps.LatLng(parseFloat(mData[0]),parseFloat(mData[1]));
          coordinates[ coordinates.length ] = [ point.lat(), point.lng() ];
          pointsud.push(point);
        }
    polyline = new google.maps.Polyline({
        path: pointsud,
        strokeColor: "#841511",
        strokeOpacity: 0.6,
        strokeWeight: 3
    });
    polyline.setMap(map);
    var bounds = new google.maps.LatLngBounds();
    bounds = polyline.Bounds();
    map.fitBounds(bounds);
    createStartMarker();
    loadMarkers();
    createFinishMarker();
}

function createStartMarker() {
    var imageUrl = '/img/marker_icons/start.png'
    var image = new google.maps.MarkerImage(imageUrl,
                      new google.maps.Size(32, 37),
                      new google.maps.Point(0, 0),
                      new google.maps.Point(10, 34));
    var startMarker = new google.maps.Marker({
        position: pointsud[0],
        map: map,
        icon: image,
        title: name,
        zIndex: Math.round(pointsud[0].lat() * -100000) << 5
    });

    google.maps.event.addListener(startMarker, 'click', function () {
        infowindow.setContent('Start line in London');
        infowindow.open(map, startMarker);
    });
}

function createFinishMarker() {
    var imageUrl = '/img/marker_icons/finish.png'
    var image = new google.maps.MarkerImage(imageUrl,
                      new google.maps.Size(32, 37),
                      new google.maps.Point(0, 0),
                      new google.maps.Point(10, 34));
    var marker = new google.maps.Marker({
        position: pointsud[pointsud.length-1],
        map: map,
        icon: image,
        title: name,
        zIndex: Math.round(pointsud[pointsud.length-1].lat() * -100000) << 5
    });

    google.maps.event.addListener(marker, 'click', function () {
        infowindow.setContent('Finish line in Ho Chi Minh');
        infowindow.open(map, marker);
    });
}

function createMarker(point, html, position, teamname) {
    var imageUrl = '/img/marker_icons/' + (position === 1 ? 'yellow/' : 'blue/') + 'marker' + position + '.png'
    var image = new google.maps.MarkerImage(imageUrl,
                      new google.maps.Size(20, 34),
                      new google.maps.Point(0, 0),
                      new google.maps.Point(10, 34));
    var contentString = html;
    var marker = new google.maps.Marker({
        position: point,
        map: map,
        icon: image,
        title: name,
        zIndex: Math.round(point.lat() * -100000) << 5
    });

    google.maps.event.addListener(marker, 'click', function () {
        infowindow.setContent(contentString);
        infowindow.open(map, marker);
    });
    return marker;
}

function loadMarkers() {
    for (var i = 0; i < teams.length; i++) {
        var infoWindowContent = '#' + i + ' : ' + teams[i]._id.teamname;
        var landmark = createMarker(polyline.GetPointAtDistance(teams[i].value * 1600), infoWindowContent, i+1, teams[i].teamname);
    }
}

$(window).ready(function() {
  initialize();
})
</script>
<div id="map_canvas" style="height: 400px; width: 100%"></div>