<h3>Team Leaderboard</h3>
<table class="table table-condensed">
  <thead>
    <tr>
      <th class="span3">#</th>
      <th class="span7">Member</th>
      <th class="span2">Mileage</th>
    </tr>
  </thead>
  <tbody>
  <% for(i=0;i<teamLeaderboard.length;i++) { %>
    <tr>
      <td><%= i+1 %></td>
      <td><%= teamLeaderboard[i]._id.username %></td>
      <td><%= teamLeaderboard[i].value %>m</td>
    </tr>
  <% } %>
  </tbody>
</table>